<% flash.each do |key, value| %>
  <%= value %>
<% end %>

<h2>Restaurant Name: <%= @restaurant.name %></h2>
<h2>Restaurant Name: <%= @restaurant.address %></h2>
<h2>Restaurant Name: <%= @restaurant.city %></h2>
<h2>Restaurant Name: <%= @restaurant.state %></h2>
<h2>Restaurant Name: <%= @restaurant.zip %></h2>
<h2>Description: <%= @restaurant.description %></h2>
